
  /*command to target device*/
  /*{}have the code in them*/
  /* for any screen larger than 600 pixels */
@media screen and (min-width: 600px)
{
    body {
      margin: 0;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    /*the nav function contains the color of the navagation bar on the top.
    We change the color of the box to blue and change the height of the bar to be 10 percent of the screen.
    we also align the items in the bar to the middle
    */
    nav {
      background-color: #3498db;
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: center;
    /*this nav function contains the object inside the nav bar.
      this function has the text of the bar that we change the color to white
      and the spacing between each letter by 3
    */
    }
    nav h1 {
      color: white;
      letter-spacing: 3px;
    }
    /*this main function is the big rectangle
     of the screen where the text and image is
     and the background color is white.
     */
    main {
      background-color: #ecf0f1;
      display: flex; 
      height: 80vh;
      overflow: hidden;
      align-items: center;
    }
    .row-1 {
      width: 100%;
      display: flex;
    }
    /*the section function we set the width of the box of the section
    is 50 percent of the width of the screen.
    */
    section {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    section img {
      border-radius: 100%;
      width: 400px;
      height: 400px;
    }
    article {
      color: #2c3e50;
      align-self: flex-start;
      width: 50%;
    }
    article h2 {
      color: #3498db;
      margin: 0;
      text-align: center;
    }
    article p {
      padding: 40px;
      padding-top: 10px;
      line-height: 25px;
    }
    footer {
      background-color: #3498db;
      height: 10vh;
    }
};
/* for any screen smaller than 599 pixels */
@media screen and (max-width: 599px)
{
  body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  nav {
    background-color: #3498db;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav h1 {
    color: white;
    letter-spacing: 3px;
  }
  main {
    background-color: #ecf0f1;
    /* display: flex; */
    min-height: 80vh;
    overflow: hidden;
    align-items: center;
  }
  .row-1 {
    width: 100%;
    /* display: flex; */
  }
  section {
    /* width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; */
  }
  section img {
    /* border-radius: 100%; */
    /* width: 400px; */
    /* height: 400px; */
    width: 100%;
  }
  article {
    color: #2c3e50;
    /* align-self: flex-start;
    width: 50%; */
  }
  article h2 {
    color: #3498db;
    margin: 0;
    text-align: center;
  }
  article p {
    padding: 40px;
    padding-top: 10px;
    line-height: 25px;
  }
  footer {
    background-color: #3498db;
    height: 10vh;
  }
  
};